
@font-face {
	font-family: "Gotham-Bold";
	src: local("Gotham-Bold"), url("file:///C:/Users/SarahCodez/Documents/GDI/responsive-gdislc-website/includes/fonts/Gotham-Bold.otf") format("opentype");
	}

body {font-family: "Gotham-Bold";}

.btn {
  background: #00a9b4;
  background-image: -webkit-linear-gradient(top, #00a9b4, #00a9b4);
  background-image: -moz-linear-gradient(top, #00a9b4, #00a9b4);
  background-image: -ms-linear-gradient(top, #00a9b4, #00a9b4);
  background-image: -o-linear-gradient(top, #00a9b4, #00a9b4);
  background-image: linear-gradient(to bottom, #00a9b4, #00a9b4);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Gotham-Bold",Verdana,Arial,serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #edab23, #edab23);
  background-image: -moz-linear-gradient(top, #edab23, #edab23);
  background-image: -ms-linear-gradient(top, #edab23, #edab23);
  background-image: -o-linear-gradient(top, #edab23, #edab23);
  background-image: linear-gradient(to bottom, #edab23, #edab23);
  text-decoration: none;
} /* http://css3buttongenerator.com/ */