@font-face {
    font-family: gothamBook;
    src: url(../fonts/gotham-book.ttf);
}

@font-face{
    font-family: gothamBold;
    src: url(../fonts/gotham-bold.otf);
}

body {
	font-family: gothamBook, Helvetica, Verdana, Arial;
	box-sizing: border-box;
	background-color: #f4f4f4;
	margin:0;
}

.bold{ font-family: gothamBold; font-weight: bold; }

h2{ font-size: 18px; font-family: gothamBold; font-weight: bold; }
h3{ display:inline; font-size: 15px; font-family: gothamBold; font-weight: bold; font-style: italic; }
hr{ margin: 30px 0; }

#main_body{
	width: 1100px;
	margin: 0 auto;
}

ul { list-style: none; }


/**header CSS**/
header {
	width: 25%;
	display: inline-block;
	background-color: #fff;
	color: #8B0036;

	border-radius: 0 0 50px 50px;
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
}

header a{
	color: #8B0036;
	text-decoration: none;
}

header a:hover, footer a:hover{
	color: #F05B62;
}

#gdi_logo{
	display: block;
	width: 85%;
	margin: 20px auto;
}

.social_media{
	display: block;
	width: 70%;
	margin: 30px auto;
	padding: 0;
	text-align: center;
	font-size: 35px;
	letter-spacing: 0.1em;
}
.social_media li { 
	display: inline-block; 
}

#join_us_header{
	display: block;
	width: 50%;
	margin: 30px auto 30px auto;
}

.btn a{
  background: #00a9b4;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "gothamBold",Verdana,Arial,serif;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 30px;
  text-decoration: none;
  text-align: center;
	transition: background 0.25s;
   	-moz-transition: background 0.25s;
   	-webkit-transition: background 0.25s;
}

span.btn a:hover {
  background: #edab23;
  text-decoration: none;
} /* http://css3buttongenerator.com/ */

.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

   .fade:hover {
      opacity: 0.5;
      }

#quick_links{
	width:70%;
	margin:0 auto 20px auto;
	padding: 0;
	text-align: center;
	line-height: 20px;
}

#quick_links li{
	padding: 5px 0;
}


/**main section CSS**/
#main_info{
	display: inline-block;
	width: 74%;
	vertical-align: top;
}

nav {
	text-align: left;
}

nav ul ul{
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}

nav ul {
	background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 106px 0 0;
	margin: 0;
	list-style: none;
	position: relative;
	display: inline-table;
}

	nav ul:after {
			content: ""; clear: both; display: block;
		}

	nav ul li {
		float: left;
	}
		nav ul li:hover {
			background: #4b545f;
			background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
		}
			nav ul li:hover a {
				color: #fff;
			}
		
		nav ul li a {
			display: block; padding: 25px 39px;
			color: #757575; text-decoration: none;
		}

		nav ul li .no_link{
			cursor: default;
			border-right: 1px solid #ccc;
		}

	nav ul ul {
		background: #5f6975; border-radius: 0px; padding: 0;
		position: absolute; top: 100%;
	}
		nav ul ul li {
			float: none; 
			border-top: 1px solid #6b727c;
			border-bottom: 1px solid #575f6a;
			position: relative;
		}
			nav ul ul li a {
				padding: 15px 40px;
				color: #fff;
			}	
				nav ul ul li a:hover {
					background: #4b545f;
				}

	nav ul ul ul {
		position: absolute; left: 100%; top:0;
	}

#main_content{
	font-size: 1.2em;
}

#main_content #tagline{
	font-family: gothamBold;
}

#events_top h1{
	width: 30%;
	float: left;
}

#events_top .btn a{
	width: 35%;
	float: right;
	margin: 10px 15px 0 0;
	font-size: 16px;
	letter-spacing: 1px;
}

#events_list{
	clear:both;
	padding-top: 15px;
}

article.event{
	padding: 10px 5px;
	border-bottom: 1px dotted #ccc;
}

a.teal_link {
	color: #00a9b4;
	text-decoration: none;
}

#events_first_col{
	width: 48%;
	display: inline-block;
	vertical-align: top;
}

#events_second_col{
	width: 48%;
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
}

article.event span.left_side{
	width:75%;
	display: inline-block;
	line-height: 20px;
}

article.event span.event_name{
  	font-family: "gothamBold",Verdana,Arial,serif;
	font-weight: bold;
	line-height: 16px;
	padding-bottom: 5px;
}

article.event span.event_date{
	font-size: 18px;
}

span.rsvp_btn a{
  width:20%;display:inline-block;vertical-align:top;
  background: #92BB44;
  background-image: -webkit-linear-gradient(top, #92BB44, #92BB44);
  background-image: -moz-linear-gradient(top, #92BB44, #92BB44);
  background-image: -ms-linear-gradient(top, #92BB44, #92BB44);
  background-image: -o-linear-gradient(top, #92BB44, #92BB44);
  background-image: linear-gradient(to bottom, #92BB44, #92BB44);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "gothamBold",Verdana,Arial,serif;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 5px;
  text-decoration: none;
  text-align: center;
}

span.rsvp_btn a:hover {
  background: #edab23;
  background-image: -webkit-linear-gradient(top, #edab23, #edab23);
  background-image: -moz-linear-gradient(top, #edab23, #edab23);
  background-image: -ms-linear-gradient(top, #edab23, #edab23);
  background-image: -o-linear-gradient(top, #edab23, #edab23);
  background-image: linear-gradient(to bottom, #edab23, #edab23);
  text-decoration: none;
  color: #ffffff;
} /* http://css3buttongenerator.com/ */

section.detailed_info{ line-height: 20px; margin: 0 0 0 10px; }

.large_heading{ line-height: 30px; }

footer{
	background-color: #333333;
	margin: 40px 0 0 0;
	padding: 5px 0;
	text-align: center;
	color: #edab23;
	font-size: 35px;
}

footer a{
	color: #edab23;
}
